[package]
name = "rocm-rs"
version = "0.4.2"
edition = "2024"
description = "Rust bindings for AMD ROCm libraries"
license = "MIT"
repository = "https://github.com/RustNSparks/rocm-rs"
documentation = "https://docs.rs/rocm-rs"
readme = "README.md"
keywords = ["gpu", "rocm", "amd", "hpc", "bindings"]
categories = ["api-bindings", "external-ffi-bindings"]

[lib]
doctest = false


[dependencies]
log = "0.4.27"
rocm_smi_lib = { version = "0.3.1", optional = true }
rocm_kernel_macros = {version = "0.4.2", optional = true}
once_cell = "1.21.3"
paste = "1.0.15"

[build-dependencies]
bindgen = "0.71.1"

[features]
default = ["macros"]
rocm_smi = ["dep:rocm_smi_lib"]
miopen = []
rocprofiler = []
rocsolver = []
macros=["dep:rocm_kernel_macros"]
